@charset "utf-8";

a {
    color: rgba(0,0,0,.54);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* header */
.header-wrap {
    display: block;
    width: 100%;
    position: relative;
    height: 40px;
    align-items: center;
}

.header {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 20px;
}

/* content */
.content-wrap {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    text-align: center;
}

.search-wrap {
    position: relative;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.search-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 12px;
    top: 20px;
    margin: 0;
}

.input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px 12px;
    position: absolute;
}

input {
    width: 85%;
    border: 0px solid #bbb;
    font-size: 16px;
}

/* footer */
.footer-wrap {
    position: fixed;
    padding: 15px 30px; 
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    font-size: 14px;
    vertical-align: middle;
    left: 0; right: 0; bottom: 0;
}

.country {
    border-bottom: 1px solid #dadce0;
    color: rgba(0,0,0,.54);
    font-size: 15px;
    padding-bottom: 15px;
}

.company {
    font-family: Apple SD Gothic Neo,arial,sans-serif;
    padding-top: 10px;
}

.company-left {
    display: inline-block;
    left: 0;
}

.company-right {
    display: inline-block;
    position: fixed;
    right: 0;
    margin-right: 30px;
}
